<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<h1>Dodanie użytkownika</h1>
<form method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="name">Imie</span>
        <input type="text" name="name" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="surname">Nazwisko</span>
        <input type="text" name="surname" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="email">Email</span>
        <input type="text" name="email" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="password">Hasło</span>
        <input type="text" name="password" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="phoneNumber">Numer telefonu</span>
        <input type="text" name="phoneNumber" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>
<hr>
<span class="link">
<a th:href="@{/users/users}"></a>
</span>
</body>
</html>